Babel==1.3
Flask==0.10.1
Flask-Assets==0.9
Flask-Babel==0.9
Flask-Bootstrap==3.1.1.2
Flask-Login==0.2.9
Flask-Mail==0.9.0
Flask-OAuthlib==0.4.3
Flask-OpenID==1.2.1
Flask-SQLAlchemy==1.0
Flask-User==0.4.9
Flask-WTF==0.8.4
Flask-WhooshAlchemy==0.55
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.3
Tempita==0.5.2
WTForms==1.0.4
Werkzeug==0.9.4
Whoosh==2.6.0
WhooshAlchemy==0.1.4
argparse==1.2.1
blinker==1.3
decorator==3.4.0
itsdangerous==0.23
mechanize==0.2.5
oauthlib==0.6.1
passlib==1.6.2
pbr==0.6
py-bcrypt==0.4
pycrypto==2.6.1
python-openid==2.2.5
pytz==2014.2
requests==2.2.1
six==1.5.2
speaklater==1.3
sqlalchemy-migrate==0.9
webassets==0.9
wsgiref==0.1.2
