{% from "macro.html" import render_field %}

{% extends "base.html" %}

{% block content%}

  <div class="row">
    <div class="col-lg-12 well">

      <div class="page-header">
        <h2>Please answer the following questions</h2>
      </div>

      <div class="col-lg-10">
        <form method="POST" action="." class="form form-horizontal">
          {{ form.csrf_token }}

          {{ render_field(form.computerTime) }}

          <legend>How do you usually create passwords for your accounts? (Please check all that apply.)</legend>
          <ul>
            {{ render_field(form.pass_random) }}
            {{ render_field(form.pass_reuse) }}
            {{ render_field(form.pass_modify) }}
            {{ render_field(form.pass_new) }}
            {{ render_field(form.pass_substitute) }}
            {{ render_field(form.pass_multiword ) }}
            {{ render_field(form.pass_phrase) }}
            {{ render_field(form.pass_O, class="form-control") }}
          </ul>
          <br>

          <legend>Do you store your passwords? If yes how? (Check all that apply.)</legend>
          <ul>
            {{ render_field(form.how_regular_file) }}
            {{ render_field(form.how_encrypted) }}
            {{ render_field(form.how_software) }}
            {{ render_field(form.how_cellphone) }}
            {{ render_field(form.how_browser) }}
            {{ render_field(form.how_write_down) }}
            {{ render_field(form.how_no) }}
          </ul>

          <ul>{{ render_field(form.comments, class="form-control")}}</ul>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>

{% endblock %}