{% from "macro.html" import render_field %}

{% extends "base.html" %}

{% block content%}

  <div class="row">
    <div class="col-lg-12 well">

      <div class="page-header">
        <h2>Please answer the following questions</h2>
      </div>

        <div class="col-lg-12">
          <form method="POST" action="." class="form form-horizontal">
            {{ form.csrf_token }}

            <legend>How did you choose your new password? Were you influenced by any of the following?<br>
                (Please check all that apply.)</legend>
            <ul>
                {{ render_field(form.choose_names, type="checkbox") }}
                {{ render_field(form.choose_numbers, type="checkbox") }}
                {{ render_field(form.choose_songs, type="checkbox") }}
                {{ render_field(form.choose_mnemonic,type="checkbox") }}
                {{ render_field(form.choose_sports,type="checkbox") }}
                {{ render_field(form.choose_famous,type="checkbox") }}
                {{ render_field(form.choose_words,type="checkbox") }}
                {{ render_field(form.choose_other,type="checkbox") }}
                {{ render_field(form.specify,) }}
            </ul>


            <legend>When creating your new password, did you consider any of the following policies that websites typically enforce to make your password more secure?(please check all that apply)<br>
                (Please check all that apply.)</legend>
            <ul>
                {{ render_field(form.secure_numbers) }}
                {{ render_field(form.secure_upper_case) }}
                {{ render_field(form.secure_symbols) }}
                {{ render_field(form.secure_eight_chars) }}
                {{ render_field(form.secure_no_dict) }}
                {{ render_field(form.secure_adjacent, type="checkbox") }}
                {{ render_field(form.secure_nothing) }}
                {{ render_field(form.secure_other,type="checkbox") }}
                {{ render_field(form.specify1,) }}
            </ul>

            {{ render_field(form.modify ) }}
            {{ render_field(form.usedPassword ) }}
            {{ render_field(form.wordPart ) }}

            <legend>If you created your new password based on one of your old passwords, did you consider changing the number part in one of the following ways?</legend>
            <ul>
                {{ render_field(form.number_N) }}
                {{ render_field(form.number_changed_slightly)}}
                {{ render_field(form.number_changed_completly)}}
                {{ render_field(form.number_added_digits) }}
                {{ render_field(form.number_deleted_digits) }}
            </ul>

            <legend>If you created your new password based on one of your old passwords, did you consider changing the
            special character part in one of the following ways?</legend>
            <ul>
                {{ render_field(form.char_N) }}
                {{ render_field(form.char_changed_slightly)}}
                {{ render_field(form.char_changed_completly)}}
                {{ render_field(form.char_added_symbols) }}
                {{ render_field(form.char_deleted_symbols) }}
            </ul>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

          </form>
        </div>

    </div>
  </div>

{% endblock %}