{% extends "admin/layout.html" %}

{% block content %}

<div class="page-header">
   <h1>Welcome admin,
      <small>survey data lies just beyond these links.</small>
   </h1>
</div>

<div class="row">

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey1')}}" role="button">Research Survey 1</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey2')}}" role="button">Research Survey 2</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey3')}}" role="button">Research Survey 3</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey4')}}" role="button">Research Survey 4</a></p>
  </div>

</div><!-- /.row -->


<div class="page-header">
   <h1>All Users</h1>
</div>

  <table class="table table-bordered datatable" cellspacing="0" width="100%" style="background-color:#464545;">
    <thead>
      <tr>
        <th>Email</th>
        <th>Survey 1</th>
        <th>Survey 2</th>
        <th>Survey 3</th>
        <th>Survey 4</th>
        <th>Last Seen</th>
      </tr>
    </thead>
    <tbody>
    {%for user in users%}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.s1}}</td>
        <td>{{user.s2}}</td>
        <td>{{user.s3}}</td>
        <td>{{user.s4}}</td>
        <td>{{user.lastSeen}}</td>
      </tr>
    {%endfor%}
    </tbody>
  </table>

{% endblock %}

