{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.0/css/dataTables.tableTools.min.css">
<style type="text/css">

    .popover {
      z-index: 99999;
    }

</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.0/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        // standard datatable initialization
        $('table.datatable').dataTable({
          "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "{{ url_for('static', filename='datatables-tabletools/swf/copy_csv_xls_pdf.swf') }}",
                "aButtons": [
                  "xls",
                  "pdf",
                  "print",
                ]
            }
        });

        /* enhanced datatable initialization
             - enables horizontal scrolling
             - [TO DO]enables fixed left column (email)
        */
        var table = $('table.scroll').dataTable({
            "scrollX": "100%",
            "scrollCollapse": false,
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "{{ url_for('static', filename='datatables-tabletools/swf/copy_csv_xls_pdf.swf') }}",
                "aButtons": [
                  "xls",
                  "pdf",
                  "print",
                ]
            }
        });
    });

</script>
{% endblock %}