{% extends "admin/layout.html" %}

{% block content%}

<div class="row">

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey1')}}" role="button">Research Survey 1</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey2')}}" role="button">Research Survey 2</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey3')}}" role="button">Research Survey 3</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-default btn-lg btn-block" href="{{ url_for('admin_survey4')}}" role="button">Research Survey 4</a></p>
  </div>

</div>

<div class="page-header">
   <h1>Survey 4
      <small>User Responses</small>
   </h1>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered scroll" cellspacing="0" width="100%" style="background-color:#464545;">
      <thead>
        <tr>
          <th>email</th>
          <th>Time Using a Computer</th>
          <th>Random Password</th>
          <th>Reuse a Password</th>
          <th>Modify a Password</th>
          <th>Create New Password</th>
          <th>Choose a Word</th>
          <th>Passphrase of Several Words</th>
          <th>Passphrase of Letters</th>
          <th>Other</th>
          <th>Store in Regular File</th>
          <th>Store in Encrpted File</th>
          <th>Store in Password Mgmt Software</th>
          <th>Store in Cellphone</th>
          <th>Store in Browser</th>
          <th>Write them Down</th>
          <th>Do not save</th>
          <th>comments</th>

        </tr>
      </thead>
      <tbody>
        {% for survey in surveys %}
        <tr>
          <td>{{ survey.user.email }}</td>
          <td>{{ survey.computerTime }}</td>
          <td>{{ survey.pass_random }}</td>
          <td>{{ survey.pass_reuse }}</td>
          <td>{{ survey.pass_modify }}</td>
          <td>{{ survey.pass_new }}</td>
          <td>{{ survey.pass_substitute }}</td>
          <td>{{ survey.pass_multiword }}</td>
          <td>{{ survey.pass_phrase }}</td>
          <td>{{ survey.pass_O }}</td>
          <td>{{ survey.how_regular_file }}</td>
          <td>{{ survey.how_encrypted }}</td>
          <td>{{ survey.how_software }}</td>
          <td>{{ survey.how_cellphone }}</td>
          <td>{{ survey.how_browser }}</td>
          <td>{{ survey.how_write_down }}</td>
          <td>{{ survey.how_no }}</td>
          <td>{{ survey.comments }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<style type="text/css">
  th, td { white-space: nowrap; }
</style>
{% endblock %}
