{% extends "base.html" %}

{% block content%}
<div class="page-header">
   <h1>Survey 3
      <small>User Responses</small>
   </h1>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered scroll" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>email</th>
          <th>choose numbers</th>
          <th>choose songs</th>
          <th>choose mnemonic</th>
          <th>choose sports</th>
          <th>choose famous</th>
          <th>choose words</th>
          <th>secure numbers</th>
          <th>secure uppercase</th>
          <th>secure symbols</th>
          <th>secure eightchars</th>
          <th>secure no_dict</th>
          <th>secure adjacent</th>
          <th>secure nothing</th>
          <th>modify</th>
        </tr>
      </thead>
      <tbody>
        {%for user in users%}
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.choose_numbers}}</td>
          <td>{{user.choose_songs}}</td>
          <td>{{user.choose_mnemonic}}</td>
          <td>{{user.choose_sports}}</td>
          <td>{{user.choose_famous}}</td>
          <td>{{user.choose_words}}</td>
          <td>{{user.secure_numbers}}</td>
          <td>{{user.secure_upper_case}}</td>
          <td>{{user.secure_symbols}}</td>
          <td>{{user.secure_eight_chars}}</td>
          <td>{{user.secure_no_dict}}</td>
          <td>{{user.secure_adjacent}}</td>
          <td>{{user.secure_nothing}}</td>
          <td>{{user.modify}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>
</div>

<style type="text/css">
  th, td { white-space: nowrap; }
</style>
{% endblock %}

