{% extends "base.html" %}

{% block content%}
<div class="page-header">
   <h1>Survey 2
      <small>User Responses</small>
   </h1>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered datatable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>email</th>
          <th>major</th>
          <th>department</th>
          <th>count</th>
          <th>unique</th>
        </tr>
      </thead>
      <tbody>
        {%for user in users%}
          <tr>
            <td>{{user.email}}</td>
            <td>{{user.major}}</td>
            <td>{{user.department}}</td>
            <td>{{user.count}}</td>
            <td>{{user.unique}}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}