{% extends "base.html" %}

{% block content%}

<div class="row">

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey1')}}" role="button">Research Survey 1</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey2')}}" role="button">Research Survey 2</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey3')}}" role="button">Research Survey 3</a></p>
  </div>

  <div class="col-md-3">
      <p><a class="btn btn-default btn-lg btn-block" href="{{ url_for('admin_survey4')}}" role="button">Research Survey 4</a></p>
  </div>

</div>

<div class="page-header">
   <h1>Survey 4
      <small>User Responses</small>
   </h1>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered scroll" cellspacing="0" width="100%" style="background-color:#464545;">
      <thead>
        <tr>
          <th>email</th>
          <th>computer_time</th>
          <th>Random Password</th>
          <th>Reused Password</th>
          <th>Modified Password</th>
          <th>New Password</th>
          <th>Substituted Password</th>
          <th>Multiword Password</th>
          <th>Phrase</th>
          <th>How Regular File</th>
          <th>How Encrpted</th>
          <th>How Software</th>
        </tr>
      </thead>
      <tbody>
        {%for user in users%}
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.computerTime}}</td>
          <td>{{user.pass_random}}</td>
          <td>{{user.pass_reuse}}</td>
          <td>{{user.pass_modify}}</td>
          <td>{{user.pass_new}}</td>
          <td>{{user.pass_substitute}}</td>
          <td>{{user.pass_multiword}}</td>
          <td>{{user.pass_phrase}}</td>
          <td>{{user.how_regular_file}}</td>
          <td>{{user.how_encrypted}}</td>
          <td>{{user.how_software}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>
</div>

<style type="text/css">
  th, td { white-space: nowrap; }
</style>
{% endblock %}
