{% extends "base.html" %}
{% block content%}
<table>
  <tr>
  <td><a href="{{ url_for('mastersheet')}}">mastersheet</a></td>
  </tr>
  <tr>
  <td><a href="{{ url_for('mastersur1')}}">mastersheet survey-1</a></td>
  </tr>
  <tr>
  <td><a href="{{ url_for('mastersur2')}}">mastersheet survey-2</a></td>
  </tr>
  <tr>
  <td><a href="{{ url_for('mastersur3')}}">mastersheet survey-3</a></td>
  </tr>
  <tr>
  <td><a href="{{ url_for('mastersur4')}}">mastersheet survey-4</a></td>
  </tr>
  </table>
{% endblock %}

          