{% extends "base.html" %}

{% block content%}
  <h2>Survey summary</h2>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
  <tr>
  <th>email</th>
  <th>survey-1</th>
  <th>survey-2</th>
  <th>survey-3</th>
  <th>survey-4</th>
  <th>lastseen</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
  <th>email</th>
  <th>survey-1</th>
  <th>survey-2</th>
  <th>survey-3</th>
  <th>survey-4</th>
  <th>lastseen</th>
  </tr>
  </tfoot>
  <tbody>
  {%for user in users%}
  <tr>
  <td>{{user.email}}</td>
  <td>{{user.s1}}</td>
  <td>{{user.s2}}</td>
  <td>{{user.s3}}</td>
  <td>{{user.s4}}</td>
  <td>{{user.lastSeen}}</td>
  </tr>
  {%endfor%}
  </tbody>
  </table>


  <div class="row">

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('mastersheet1')}}" role="button">Research Survey 1</a></p>
        <a class="btn btn-primary btn-lg btn-block disabled" role="button">
          <span class="glyphicon glyphicon-ok pull-left"></span>  Research Survey 1
        </a>
        <br>
        <p>Thanks for completing Survey 1.</p>
      <p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 1</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('mastersheet2')}}" role="button">Research Survey 2</a></p>
        <a class="btn btn-primary btn-lg btn-block disabled" role="button">
          <span class="glyphicon glyphicon-ok pull-left"></span>  Research Survey 2
        </a>
        <br>
        <p>Thanks for completing Survey 2.</p>
      <p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 2</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('mastersheet3')}}" role="button">Research Survey 3</a></p>
        <a class="btn btn-primary btn-lg btn-block disabled" role="button">
          <span class="glyphicon glyphicon-ok pull-left"></span>  Research Survey 3
        </a>
        <br>
        <p>Thanks for completing Survey 3.</p>
      <p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 3</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('mastersheet4')}}" role="button">Research Survey 4</a></p>
      <p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 4</a></p>
    </div>

  </div><!-- /.row -->

{% endblock %}

