{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Sign Up for the Password Research Survey</h1>
  <br>
  <div class="input-group">
  <input type="text" class="form-control" placeholder="my.FSU.edu Email Address" value="{{ request.form.username }}" required>
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Password" value="{{ request.form.passwd }}" required>
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Repeat Password">
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="btn-group">
   <div class="btn-group">
     <button type="submit" class="btn btn-default"  value="submit">Sign Up</button>
   </div>
 </form>
 {% endblock %}