{% extends "base.html" %}
{% block content %}
<form action="" method=post class="form-horizontal">
	<h2>Sign up for the Password Research Survey</h2>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="FSU ID">
    <span class="input-group-addon">@my.fsu.edu</span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Password">
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Repeat Password">
    <span class="input-group-addon"></span>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
   <div class="btn-group">
     <button type="button" class="btn btn-default">Submit</button>
   </div>
 </form>
 {% endblock %}