{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
	<h1><center>Thank you!</center></h1>
</div>

<div class="row">
  <div class="col-lg-12 well text-center">
  <h2>Thank you for your participation in our research study!</h2>

  <h3>You have now completed all the steps and are entered into our drawing.</h3>

  <p>
    You will need your password to check if you have won the prize. <br>
    Further instructions will be provided via email.<br>
    Best of luck!
  </p>

  </div>
</div>

{% endblock %}