{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
  {% from "macro.html" import render_field %}
  <h1>Forgot your password? </h1>
  <p>Enter your email address to retrieve your password. Please check your spam folder as well.</p>
  <br>
  <form method="POST" action="" class="form form-horizontal">

    {{ form.csrf_token }}
    {{ render_field(form.email, class="input-xlarge",placeholder="fsu.edu Email") }}
    
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
</form>

{% endblock %}
