{% extends "base.html" %}

{% block content %}

<div class="jumbotron">

	{% if not g.user.s1 %}
	<h1>Hello</h1>
	{% else %}
	<h1>Welcome back.</h1>
	{% endif %}

    
	

</div>
{%if g.user.email=="ss14ak@my.fsu.edu" %}
 <a href="{{url_for('admin')}}">Summary Sheets</a>
{% else %}
    <div class="jumbotron">
    <p>Please complete the four surveys.</p>
    </div>
	<div class="row">

		<div class="col-md-3">
			{% if not g.user.s1 %}
				<p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('survey_1')}}" role="button">Research Survey 1</a></p>
			{% elif g.user.s1 %}
				<a class="btn btn-primary btn-lg btn-block disabled" role="button">
					<span class="glyphicon glyphicon-ok pull-left"></span>	Research Survey 1
				</a>
				<br>
				<p>Thanks for completing Survey 1.</p>
			{% else %}
			<p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 1</a></p>
			{% endif %}
		</div>

		<div class="col-md-3">
			{% if g.user.s1 and not g.user.s2%}
				<p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('survey_2')}}" role="button">Research Survey 2</a></p>
			{% elif g.user.s2 %}
				<a class="btn btn-primary btn-lg btn-block disabled" role="button">
					<span class="glyphicon glyphicon-ok pull-left"></span>	Research Survey 2
				</a>
				<br>
				<p>Thanks for completing Survey 2.</p>
			{% else %}
			<p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 2</a></p>
			{% endif %}
		</div>

		<div class="col-md-3">
			{% if g.user.s2 and not g.user.s3%}
				<p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('survey_3')}}" role="button">Research Survey 3</a></p>
			{% elif g.user.s3 %}
				<a class="btn btn-primary btn-lg btn-block disabled" role="button">
					<span class="glyphicon glyphicon-ok pull-left"></span>	Research Survey 3
				</a>
				<br>
				<p>Thanks for completing Survey 3.</p>
			{% else %}
			<p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 3</a></p>
			{% endif %}
		</div>

		<div class="col-md-3">
			{% if g.user.s3 and not g.user.s4%}
				<p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('survey_4')}}" role="button">Research Survey 4</a></p>
			{% else %}
			<p><a class="btn btn-primary btn-lg btn-block disabled" role="button">Research Survey 4</a></p>
			{% endif %}
		</div>

	</div><!-- /.row -->
{% endif %}
{% endblock %}
