{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
<h1>Sign In to the Research Survey</h1>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="my.FSU.edu email address">
    <span class="input-group-addon"</span>
    </div>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Password">
      <span class="input-group-addon"></span>
    </div>
    <br>

    <div class="btn-group">
     <div class="btn-group">
       <button type="submit" class="btn btn-default" value="submit">Sign In</button>
       <button type="forgot"  class="btn btn-default" href="#" value="forgot">Forgot Password</button>
     </div>
   </div>
<!-- <form action="" method=post class="form-horizontal">
<h2>Signin to the Research Survey</h2>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="my.FSU.edu email address">
    <span class="input-group-addon"</span>
  </div>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Password">
    <span class="input-group-addon"></span>
  </div>
  <br>

  <div class="btn-group">
   <div class="btn-group">
     <button type="submit" class="btn btn-default" value="submit">Submit</button>
     <button type="forgot"  class="btn btn-default" href="#" value="forgot">Forgot Password</button>
   </div>
 </form> -->
 {% endblock %}