{% extends "base.html" %}
{% from "macro.html" import render_field %}

{% block content%}

<div class="hidden-sm" style="margin:16px;"></div>

<div class="page-header text-center hidden-xs">
   <h3>Sign-in to the ECIT Survey</h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form method="POST" action=".">
            <fieldset>

            {{ form.csrf_token }}
            {{ render_field(form.email, class="form-control", placeholder="your@fsu.edu email address") }}
            {{ render_field(form.password, class="form-control", placeholder="Password") }}

            <button type="submit" id="sign_in" class="btn btn-primary btn-block">Log In</button>

            </fieldset>

            <div class="pull-right">
              <br>
              <a href="/create_acct">Need an Account?</a>
              <br>
              <a href="/forgot_passwd">Forgot Password?</a>
            </div>

          </form>
      </div>
    </div>

  </div>
</div><!-- /.row -->

{% endblock %}
