{% macro render_field(field) %}

{% if field.errors %}
<div class="form-group has-error">
{{ field.label(class="control-label", for=field.name) }}
{{ field(**kwargs)|safe }}

{% for error in field.errors %}
<span class="help-block has-error">{{ error|e }}</span>
{% endfor %}
</div>

{% else %}
	{% if field.type == 'BooleanField' %}
		<div class="form-group">
		{{ field(**kwargs) }} {{ field.label(class="control-label", for=field.name) }}
		</div>

	{% else %}
		<div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}<br>
		{{ field(**kwargs) }}
		</div>
	{% endif %}

{% endif %}

{% endmacro %}



{% macro render_input_ca(field) %}
  {% if field.errors %}
    <div class="form-group has-error">
      {{ field.label(class="col-lg-3 control-label", for=field.name) }}
      <div class="col-lg-9">
        {{ field(**kwargs)|safe }}
        {% for error in field.errors %}
          <span class="help-block">{{ error|e }}</span>
        {% endfor %}
       </div>
    </div>
  {% else %}

  <div class="form-group">
      {{ field.label(class="col-lg-3 control-label", for=field.name) }}
      <div class="col-lg-9">
      	{{ field(**kwargs) }}
    	</div>
  </div>

  {% endif %}
{% endmacro %}