{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
  {% from "macro.html" import render_field %}
  <h2>Please answer the following questions</h2>
  <br>
    <form method="POST" action="." class="form form-horizontal">
      {{ form.csrf_token }}
      {{ render_field(form.gender) }}
      {{ render_field(form.age) }}
      {{ render_field(form.education)}}
      <ul>
      {{ render_field(form.education_O, type="textbox")}}
      </ul>
      {{ render_field(form.language)}}
    
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
      </div>
      </form>
      </div>
{% endblock %}