{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
  {% from "macro.html" import render_field %}
  <h2>Please answer the following questions</h2>
  <br>
  <form method="POST" action="." class="form form-horizontal">
    {{ form.csrf_token }}
    <b>How did you choose your new password? Were you influenced by any of the following? (Please check all that apply.)</b><br>
    <ul>
    {{ render_field(form.choose_names, type="checkbox") }}
    {{ render_field(form.choose_numbers, type="checkbox") }}
    {{ render_field(form.choose_songs, type="checkbox") }}
    {{ render_field(form.choose_mnemonic, 
) }}
    {{ render_field(form.choose_sports, 
) }}
    {{ render_field(form.choose_famous, 
) }}
    {{ render_field(form.choose_words, 
) }}
    </ul>
    <br><br>
    <b>When creating your new password, did you consider any of the following policies to make your password more secure? (Please check all that apply.)</b><br>
    <ul>
    {{ render_field(form.secure_numbers, 
) }}
    {{ render_field(form.secure_upper_case, 
) }}
    {{ render_field(form.secure_symbols, 
) }}
    {{ render_field(form.secure_eight_chars, 
) }}
    {{ render_field(form.secure_no_dict, 
) }}
    {{ render_field(form.secure_adjacent , type="checkbox") }}
    {{ render_field(form.secure_nothing, 
) }}
    </ul><br>

<!--     <b>Did you create your new password by slightly changing your old password for this website?</b>
 -->    {{ render_field(form.modify ) }}

<!--     <b>If you created your new password based on one of your old passwords, did you consider changing the word part in one of the following ways?</b>
 -->    {{ render_field(form.usedPassword ) }}

<!--     <b>If you created your new password based on one of your old passwords, did you consider changing the word part in one of the following ways?',</b>
 -->    {{ render_field(form.wordPart ) }}
    <b>If you created your new password based on one of your old passwords, did you consider changing the word part in one of the following ways?</b>
    {{ render_field(form.word_part_N)}}
    {{ render_field(form.word_part_changed_completely )}}
    {{ render_field(form.word_part_changed_slightly )}}
    {{ render_field(form.word_part_capitalized_letters )}}
    {{ render_field(form.word_part_O, type="textbox" )}}
    
    <b>If you created your new password based on one of your old passwords, did you consider changing the number part in one of the following ways?</b><br>
    <ul>
    {{ render_field(form.number_N) }}
    {{ render_field(form.number_added_digits) }}
    {{ render_field(form.number_deleted_digits) }}
    {{ render_field(form.number_substituted_digits) }}
    {{ render_field(form.number_O, type="textbox") }}
    </ul>
    <b>If you created your new password based on one of your old passwords, did you consider changing the 
    special character part in one of the following ways?</b><br>
    <ul>
    {{ render_field(form.char_N) }}
    {{ render_field(form.char_added_symbols) }}
    {{ render_field(form.char_deleted_symbols) }}
    {{ render_field(form.char_substituted_symbols) }}
    {{ render_field(form.char_O, type="textbox") }}
    </ul>
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  </div>

  </form>
 
</div>
</form>
</div>
{% endblock %}