{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
  {% from "macro.html" import render_field %}
  <h1>Survey 4</h1>
  <br>
  <form method="POST" action="." class="form form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.computerTime) }}
    {{ render_field(form.passwordCreation) }}    
    {{ render_field(form.howStored)}}
    {{ render_field(form.comments)}}
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
      </div>
      </form>
      </div>
{% endblock %}