{% extends "base.html" %}
{% block content%}
<div class="jumbotron">
  {% from "macro.html" import render_field %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <h1>Survey 3</h1>
  <br>
  <form method="POST" action="." class="form form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.choose) }}
    {{ render_field(form.secure) }}
    {{ render_field(form.modify) }}
    {{ render_field(form.usedPassword) }}
    {{ render_field(form.wordPart) }}
    {{ render_field(form.numberPart) }}
    {{ render_field(form.charPart) }}


<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  </div>

  </form>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
</div>
</form>
</div>
{% endblock %}